# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
captures/
local.properties

# OS/Logs
.DS_Store
*.log

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/
.env
design/
